<div class="container productsadmin">

  <section class="section filter">
    <div class="filter-header columns">
      <div id="filter-toggler" class="title is-size-6 column">
        <span class="toggler-text">Filter Products</span>
        <span class="icon">
          <i class="fas fa-lg fa-angle-down" aria-hidden="true"></i>
        </span>
      </div>
      <div class="column is-narrow">
        <button id="start-list" class="button is-small has-background-grey-dark has-text-white-ter"
          title="start new list">
          <span class="icon">
            <i class="fa fa-list"></i>
          </span>
        </button>
      </div>
    </div>

    <form id="filter-form" action="/products/admin" method="GET">
      <div class="block">

        <div class="columns">

          <div class="column is-9 tags-checkboxes">
            <div class="field">
              <div class="control">
                <div class="columns">
                  <div class="column is-4">
                    <label class="tag-group"><strong>Shop</strong></label>
                    <label for='dm' class="checkbox">
                      <input type="checkbox" name="shop" id="dm" value="dm" />
                      DM
                    </label>
                    <label for='mytime' class="checkbox">
                      <input type="checkbox" name="shop" id="mytime" value="mytime" />
                      Mytime
                    </label>
                    <label for='rewe' class="checkbox">
                      <input type="checkbox" name="shop" id="rewe" value="rewe" />
                      Rewe
                    </label>
                  </div>
                  <div class="column is-4">
                    <label class="tag-group"><strong>Allgemein</strong></label>
                    <label for='egg' class="checkbox">
                      <input type="checkbox" name="term" id="egg" value="egg" />
                      egg
                    </label>
                    <label for='ugo' class="checkbox">
                      <input type="checkbox" name="term" id="ugo" value="ugo" />
                      ugo
                    </label>

                    <label for='lebensmittel' class="checkbox">
                      <input type="checkbox" name="term" id="lebensmittel" value="lebensmittel" />
                      Lebensmittel
                    </label>
                    <label for='drogerie' class="checkbox">
                      <input type="checkbox" name="term" id="drogerie" value="drogerie" />
                      Drogerie
                    </label>
                  </div>
                  <div class="column is-4">
                    <label class="tag-group"><strong>Lebensmittel</strong></label>
                    <label for='trockenvorraete' class="checkbox">
                      <input type="checkbox" name="term" id="trockenvorraete" value="trockenvorraete" />
                      Trockenvorraete
                    </label>
                    <label for='nuessetrockenobst' class="checkbox">
                      <input type="checkbox" name="term" id="nuessetrockenobst" value="nuessetrockenobst" />
                      Nüsse/Trockenobst
                    </label>

                    <label for='konserven' class="checkbox">
                      <input type="checkbox" name="term" id="konserven" value="konserven" />
                      Konserven
                    </label>
                    <label for='brotaufstrich' class="checkbox">
                      <input type="checkbox" name="term" id="brotaufstrich" value="brotaufstrich" />
                      Brotaufstrich
                    </label>
                    <label for='teekaffee' class="checkbox">
                      <input type="checkbox" name="term" id="teekaffee" value="teekaffee" />
                      Tee/Kaffee
                    </label>
                    <label for='suesswaren' class="checkbox">
                      <input type="checkbox" name="term" id="suesswaren" value="suesswaren" />
                      Süßwaren
                    </label>
                    <label for='knabberzeug' class="checkbox">
                      <input type="checkbox" name="term" id="knabberzeug" value="knabberzeug" />
                      Knabberzeug
                    </label>
                    <label for='kaese' class="checkbox">
                      <input type="checkbox" name="term" id="kaese" value="kaese" />
                      Käse
                    </label>
                    <label for='milchprodukte' class="checkbox">
                      <input type="checkbox" name="term" id="milchprodukte" value="milchprodukte" />
                      Milchprodukte
                    </label>
                    <label for='wurstwaren' class="checkbox">
                      <input type="checkbox" name="term" id="wurstwaren" value="wurstwaren" />
                      Wurstwaren
                    </label>
                    <label for='fleisch' class="checkbox">
                      <input type="checkbox" name="term" id="fleisch" value="fleisch" />
                      Fleisch
                    </label>
                    <label for='fisch' class="checkbox">
                      <input type="checkbox" name="term" id="fisch" value="fisch" />
                      Fisch
                    </label>
                    <label for='brot' class="checkbox">
                      <input type="checkbox" name="term" id="brot" value="brot" />
                      Brot
                    </label>
                    <label for='gemueseobst' class="checkbox">
                      <input type="checkbox" name="term" id="gemueseobst" value="gemueseobst" />
                      Gemüse/Obst
                    </label>
                    <label for='tiefkuehlwaren' class="checkbox">
                      <input type="checkbox" name="term" id="tiefkuehlwaren" value="tiefkuehlwaren" />
                      Tiefkühlprodukte
                    </label>
                    <label for='alkoholika' class="checkbox">
                      <input type="checkbox" name="term" id="alkoholika" value="alkoholika" />
                      Alkoholika
                    </label>
                    <label for='sonstiges' class="checkbox">
                      <input type="checkbox" name="term" id="sonstiges" value="sonstiges" />
                      Sonstiges
                    </label>

                  </div>
                  <div class="column is-4">
                    <label class="tag-group"><strong>Drogerie</strong></label>
                    <label for='hygiene' class="checkbox">
                      <input type="checkbox" name="term" id="hygiene" value="hygiene" />
                      Hygiene
                    </label>
                    <label for='hautpflege' class="checkbox">
                      <input type="checkbox" name="term" id="hautpflege" value="hautpflege" />
                      Hautpflege
                    </label>
                    <label for='makeup' class="checkbox">
                      <input type="checkbox" name="term" id="makeup" value="makeup" />
                      Makeup
                    </label>
                    <label for='haarpflege' class="checkbox">
                      <input type="checkbox" name="term" id="haarpflege" value="haarpflege" />
                      Haarpflege
                    </label>

                    <label for='putzenwaschen' class="checkbox">
                      <input type="checkbox" name="term" id="putzenwaschen" value="putzenwaschen" />
                      Putzen/Waschen
                    </label>
                    <label for='haushalt' class="checkbox">
                      <input type="checkbox" name="term" id="haushalt" value="haushalt" />
                      Haushalt allgemein
                    </label>
                  </div>
                </div>
                <!--- columns-->
              </div>
              <!--- control-->
            </div>
            <!--- field-->
          </div>
          <!--- column-->

        </div>
        <!--- columns-->

      </div>
      <!--- block-->

      <div class="field block">
        <div class="control">
          <input id="filter-submit" class="button is-normal has-background-grey-dark has-text-white" type="submit"
            value="Submit">
        </div>
      </div>

    </form>
  </section>

</div>

<div class="container">

  <section class="section products">
    <div class="is-size-6">{{selectedShop}}</div>
    <h2 class="title is-size-4">{{#if selectedTags}} {{selectedTags}} {{else}} Alle Produkte {{/if}}</h2>

    <div class="block">
      <div class="columns is-multiline">

        {{#each product}}
        <div class="column is-3">
          <div class="card">

            <div class="card-content">

              <div class="card-image">
                <figure class="image is-128x128"
                  style="background: url({{imgUrl}}) center center no-repeat; background-size:contain;">
                </figure>
              </div>

              <p class=" price is-size-5"><strong class="has-text-grey-dark">{{price}}</strong></p>
              <p class="product-title is-size-6">
                <a href="{{url}}" class="has-text-grey-dark"><strong>{{title}}</strong></a>
              </p>
              <p class="product-title-ext">{{titleExt}}</p>
              <p class="baseprice is-size-7">{{basePrice}}</p>
              <div class="tags">
                {{#each tags}}
                <span class="tag is-white is-normal">{{this}}</span>
                {{/each}}
                <span class="tag is-white is-normal">{{shop}}</span>
              </div>

            </div>
            <div class="buttons is-right">
              <a href="/edit/{{_id}}" class="button is-small has-background-green has-text-green" title="edit item">
                <span class="icon is-small">
                  <i class="fa fa-pen"></i>
                </span>
              </a>
              <button class="button is-small has-background-orange has-text-orange delete-item" title="delete item"
                data-id="{{_id}}">
                <span class="icon is-small">
                  <i class="fa fa-times-circle"></i>
                </span>
              </button>
              <button class="button is-small add-to-list has-background-blue has-text-blue" title="add to list"
                data-id="{{_id}}">
                <span class="icon is-small">
                  <i class="fa fa-list"></i>
                </span>
              </button>
            </div>

          </div>
        </div>

        {{/each}}
      </div>

    </div>
  </section>
  <section class="section pagination">
    {{> pagination }}
  </section>
</div>